body{
  background-color: #F4DFBA;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
.app{
  width:400px;
  min-height: 90Vh;
  background-color: #EEC373;
  margin:20px auto;
}
.container{
  display: flex;
  justify-content: center;
}
.btn{
  padding:10px;
  border:none;
  width:70%;
  color: black;
}
.add,.delete{
  background-color:#F4DFBA ;
  margin-top: 10px;
}
input{
  width:65%;
  padding:8px;
  margin-top: 10px;
  color: black;
}
h1{
  color:#876445 ;
}

